.container {
  width: 400px;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
}

.od {
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding-top: 200px;
}

img {
  width: 150px;
  height: 100px;
  object-fit: contain;
  animation: move 2s infinite;
}

@keyframes move {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}